<div ng-include="'partials/_header.html'"></div>
<div ng-include="'partials/_sidebar.html'"></div>
	<!-- main container -->
    <div class="content">
        <div id="content_wrapper">
            <div class="notice shadow">
                <div class='col-md-12'>
                    <p class="title">Hệ thống bình luận tại mỗi cửa hàng</p>
                    <p class="sub">Ac diam! Enim eu enim egestas, vel ac, ut? Vel sit urna tempor lectus integer. Ac rhoncus nec porttitor. Aliquet. Vut ultrices pid scelerisque! Porttitor augue et sed? </p>
                </div>
                
                <div class="clearfix"></div>
            </div>
            
            <div class="block">
                <div class="block_header">
                    <div class="left control">
                        Lọc danh sách khách hàng theo
                    </div>
                    <div class="right">
                        <select ng-model="event" ng-options="event as event.name_display for event in events" ng-init="event=events[0]"></select>
                        <span class="btn-glow success">Sign up now</span>
                    </div>
                </div>

                <div smg-filter metas="metas" events="events" metadata="metadata" event="event"></div>

                <div class="block_footer">
                    <div class="left method">
                        Phương thức <div class="ui-select">
                                        <select>
                                            <option selected="">Gửi 1 lần</option>
                                            <option>Gửi tự động</option>
                                        </select>
                                    </div>
                    </div>
                    <button ng-click="getAllFilter()" type="button" class="btn-glow primary right"><i class="icon-ok"></i> Next</button>
                </div><!-- block footer-->
            </div>
            <!-- <div class="block">
                <div class="block_header">
                    <div class="left control">
                        Thống kê lượt 
                        <select ng-model="event" ng-options="event as event.name_display for event in events" ng-init="event=events[0]"></select>
                        theo thời gian
                    </div>

                    <span class="btn-flat success icon-bookmark-empty right">Lưu</span>

                </div>
                <p class="notify"> Chỉ thống kê các lượt <span>{{event.name_display}}</span> thoả điều kiện</p>
                 <div smg-filter metas="metas" events="events" metadata="metadata" event="event"></div>

                <div class="block_footer">
                    <span class="btn-flat primary right" ng-click="getAllFilter()">Xem</span>
                </div>
            </div> -->

           

            <div class="block">
                <div class="block_header">
                    <span class="beg_date date">01/01/2011</span>
                    - 
                    <span class="end_date date">01/01/2011<span/>

                    <select class="type_menu right">
                        <option>Biểu đồ đường</option>
                        <option>Biểu đồ tròn</option>
                        <option>Biểu đồ cột</option>
                    </select>

                    <div class="btn-group pull-right">
                        <button class="glow left">NGÀY </button>
                        <button class="glow middle active">TUẦN </button>
                        <button class="glow right">THÁNG</button>
                    </div>

                    

                </div>
                <div class="block_content">
                    <!--chart here-->
                </div>
            </div>
        </div> <!-- content_wrapper-->
        
            
        
    </div>
    <!-- end main container -->
</html>

<style scoped>@import url('vendor/theme/styles/compiled/user-list.css')</style>