<div ng-include="'partials/_header.html'"></div>
<div ng-include="'partials/_sidebar.html'"></div>
	<!-- main container -->
    <div class="content">
        <div id="content_wrapper">
            <div class="notice shadow">
                <div class='col-md-12'>
                    <p class="title">Hệ thống bình luận tại mỗi cửa hàng</p>
                    <p class="sub">Ac diam! Enim eu enim egestas, vel ac, ut? Vel sit urna tempor lectus integer. Ac rhoncus nec porttitor. Aliquet. Vut ultrices pid scelerisque! Porttitor augue et sed? </p>
                </div>
                
                <div class="clearfix"></div>
            </div>
            

            <div class="block">
                <div class="block_header">
                    <div class="left control">
                        Thống kê lượt 
                        <select ng-model="event" ng-options="event as event.name_display for event in events" ng-init="event=events[0]"></select>
                        theo thời gian
                    </div>

                    <span class="btn-flat success icon-bookmark-empty right">Lưu</span>

                </div>
                <div class="block_content">
                    <p class="notify"> Chỉ thống kê các lượt <span>{{event.name_display}}</span> thoả điều kiện</p>
                    <div smg-filter metas="metas" events="events" metadata="metadata" event="event" subfilters="subfilters"></div>
                </div>
                <div class="block_footer">
                    <span class="btn-flat primary right" ng-click="getAllFilter()">Xem</span>
                </div>
            </div>

           

            <div class="block">
                <div class="block_header">
                    <select class="beg_date date">
                        <option>01/01/2011</option>
                    </select>
                    - 
                    <select class="end_date date">
                        <option>01/01/2011</option>
                    </select>

                     <select class="type_menu right" ng-model="chartType" ng-options="chartType as chartType.display_name for chartType in chartTypes" ng-init="chartType=chartTypes[0]"></select>

                    <select class="type_menu pull-right">
                        <option>NGÀY</option>
                        <option>TUẦN</option>
                        <option>THÁNG</option>
                    </select>
                </div>
                <div ng-switch on="chartType.id" class="block_content">
                    <div ng-switch-when="1">
                        <div>
                            <chart value='pieChart' height="400">
                            </chart>
                        </div>
                    </div>
                   
                    <div ng-switch-when="0">
                        <div>
                            <chart value='lineChart' height="400">
                            </chart>
                        </div>
                    </div>
                    
                    <div ng-switch-when="2">
                        <div>
                            <chart value='columnChart' height="400">
                            </chart>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div> <!-- content_wrapper-->
        
            
        
    </div>
    <!-- end main container -->
</html>

<style scoped>@import url('vendor/theme/styles/compiled/user-list.css')</style>