<h1>Log in</h1>

<form name="loginForm" ng-submit="login()" role="form">
    
    <label>Username:</label><br/>
    <input type="text" ng-model="username" placeholder="Username" name="username" autofocus/> 
    
    </br>

    <label>Role</label><br/>
    <input type="text" ng-model="role" placeholder="Role" name="role"/> 
	</br>

	<input type="checkbox" ng-model="rememberme" name="rememberme">Remember me</input>
	</br>

    <button type="submit" ng-disabled="loginForm.$invalid">Login</button>

</form>