
    <div class="header">
        <a href="index.html">
            <img src="img/logo-white.png" class="logo" alt="logo" />
        </a>
    </div>
    <div class="login-wrapper">
        <div class="box">
            <div class="content-wrap">
                <h6>Đăng kí </h6>
                <input class="form-control" type="text" placeholder="Họ tên">
                <input class="form-control" type="text" placeholder="Địa chỉ email">
                <input class="form-control" type="password" placeholder="Mật khẩu">
                <input class="form-control" type="password" placeholder="Nhập lại mật khẩu">
				<input class="form-control" type="text" placeholder="Số điện thoại">

                <div class="action">
                    <a class="btn-glow primary signup" href="index.html">Đăng kí</a>
                </div>                
            </div>
        </div>

        <div class="already">
            <p>Bạn đã có tài khoản ?</p>
            <a href="#signin">Đăng nhập</a>
        </div>
    </div>

<style scoped>@import url('vendor/theme/styles/compiled/signup.css')</style>    