<div class="login-wrapper login-bg">
    <a href="index.html">
        <img class="logo non-background" src="img/logo-white.png" alt="logo" />
    </a>

    <div class="box">
        <div class="content-wrap">
            <form name="loginForm">
                <h6>Đăng nhập</h6>
                <input class="form-control" type="text" placeholder="Địa chỉ email" ng-model="username" name="email" required ng-minlength=6>
                <input class="form-control" type="password" placeholder="Mật khẩu" ng-model="password" name="password" required g-minlength=6>
                <a href="#/forget_password" class="forgot">Quên mật khẩu?</a>
                <div class="remember">
                    <input id="remember-me" type="checkbox" ng-model="rememberme">
                    <label for="remember-me">Ghi nhớ</label>
                </div>
                <div class="forget">
                    <a ng-hide="hideMessage">{{message}}</a>
                </div>
                <button type="submit" class="btn-glow primary login" ng-click="login()" ng-disabled="loginForm.$invalid">Đăng nhập</button>
            </form>
        </div>
    </div>

    <div class="no-account">
        <p>Bạn chưa có tài khoản?</p>
        <a href="#signup">Đăng ký ngay</a>
    </div>
</div>

<style scoped>@import url('vendor/theme/styles/compiled/signin.css')</style>    