<div ng-include="'partials/_header.html'"></div>
<div ng-include="'partials/_sidebar.html'"></div>
<!-- main container -->
<div id="promotion-new" class="content">
    <div id="promotion-fuelux-wizard" class="wizard">
        <ul class="wizard-steps">
            <li data-target="#promotion-step1">
                <span class="z-step">Loại sự kiện</span><img class="line-step" src="img/line_step.png" />
            </li>
            <li data-target="#promotion-step2">
                <span class="z-step">Thông tin</span><img class="line-step" src="img/line_step.png" />
            </li>
            <li data-target="#promotion-step3" class="active">
                <span class="z-step">Nội dung</span><img class="line-step" src="img/line_step.png" />
            </li>
            <li data-target="#promotion-step4">
                <span class="z-step">Hoàn thành</span>
            </li>
        </ul>                            
    </div>
    <div id="promotion-step-content" class="step-content form-page">
        <form>
            <div class="step-pane active" id="promotion-step3">
                <div class="step-description">
                    <div class="step-title">
                        <span class="step-name">Bước 3:</span> chọn loại khuyến mãi hoặc sự kiện cho chiến dịch của bạn.
                    </div>
                    Tạo hệ thông tin mới từ dịch vụ cũng như chiến dịch khuyến mãi của bạn.
                </div>
                <div class="form-wrapper">
                    <div class="col-md-7">
                        <div class="step-wapper">
                            <div ng-switch on="promotionType.name">
                                <div ng-switch-when="voucher" class="voucher-box" name="voucher">
                                    <div class="z-box"  ng-repeat="present in presentDescriptions" style="margin-top:10px;">
                                        <div class="z-box-header">
                                            <div class="left">
                                                <span class="circle-box">{{$parent.presentDescriptions[$parent.indexInArray[present.id]].stt + 1}}</span>
                                            </div>
                                            <i class="icon-remove-sign right" ng-click="removePresent(present.id)"></i>
                                        </div>
                                        <div class="z-box-content">
                                            <div class="detail-voucher">
                                                <div class="field-box">
                                                    <div class="inline-block">
                                                        <span class="title">MÔ TẢ PHẦN QUÀ</span>
                                                        <input type="text" class="description form-control" ng-model = "$parent.presentDescriptions[$parent.indexInArray[present.id]].description" placeholder="Nhập mô tả phần quà" name="description" required ng-change="updateValidation(present.id, 0)"/>
                                                    </div>
                                                    <div>
                                                        <span class="alert-msg" ng-show="$parent.presentDescriptions[$parent.indexInArray[present.id]].validation[0]">
                                                            <i class="icon-remove-sign"></i>
                                                        Vui lòng nhập mô tả
                                                        </span>
                                                    </div>
                                                    <div class="inline-block">
                                                        <span class="title">SỐ LƯỢNG</span>
                                                        <input type="text" class="quality form-control" ng-model="$parent.presentDescriptions[$parent.indexInArray[present.id]].amount" ng-change="updateValidation(present.id, 2)"/>
                                                    </div>
                                                    <div>
                                                        <span class="alert-msg" ng-show="$parent.presentDescriptions[$parent.indexInArray[present.id]].validation[1]">
                                                            <i class="icon-remove-sign"></i>
                                                        Vui lòng số lượng
                                                        </span>
                                                        <span class="alert-msg" ng-show="$parent.presentDescriptions[$parent.indexInArray[present.id]].validation[2]">
                                                            <i class="icon-remove-sign"></i>
                                                        Số lượng phải là số và lớn hơn 0
                                                        </span>
                                                    </div>
                                                    <div class="inline-block">
                                                        <label class="checkbox-inline">
                                                          <input type="checkbox" id="inlineCheckbox1" value="option1" ng-model="$parent.presentDescriptions[$parent.indexInArray[present.id]].noLimitedChecked" ng-change="updateValidation(present.id)"> Không giới hạn
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="field-box">
                                                    <span class="title">ĐIỀU KIỆN</span>
                                                    <div class="condition">
                                                        <span class="title">Đối tượng</span>
                                                        <input type="text" class="form-control" placeholder="Nhập đối tượng" ng-model="$parent.presentDescriptions[$parent.indexInArray[present.id]].target" ng-change="updateValidation(present.id, 3)"/>
                                                        <span class="alert-msg" ng-show="$parent.presentDescriptions[$parent.indexInArray[present.id]].validation[3]">
                                                            <i class="icon-remove-sign"></i>
                                                        Vui lòng nhập đối tượng
                                                        </span>
                                                        <br />
                                                        <span class="title">Thời gian</span>
                                                        <label class="checkbox-inline">
                                                          <input type="checkbox" id="inlineCheckbox1" value="1" ng-model="$parent.presentDescriptions[$parent.indexInArray[present.id]].monChecked" ng-change="updateValidation(present.id, 4)"
                                                            /> Thứ 2
                                                        </label>
                                                        <label class="checkbox-inline">
                                                          <input type="checkbox" id="inlineCheckbox1" value="1" ng-model="$parent.presentDescriptions[$parent.indexInArray[present.id]].tueChecked" ng-change="updateValidation(present.id, 4)"/> Thứ 3
                                                        </label>
                                                        <label class="checkbox-inline">
                                                          <input type="checkbox" id="inlineCheckbox1" value="1" ng-model="$parent.presentDescriptions[$parent.indexInArray[present.id]].wedChecked" ng-change="updateValidation(present.id, 4)"/> Thứ 4
                                                        </label>
                                                        <label class="checkbox-inline">
                                                          <input type="checkbox" id="inlineCheckbox1" value="1" ng-model="$parent.presentDescriptions[$parent.indexInArray[present.id]].thuChecked" ng-change="updateValidation(present.id, 4)"/> Thứ 5
                                                        </label>
                                                        <div class="clearfix"></div>
                                                        <label class="checkbox-inline">
                                                          <input type="checkbox" id="inlineCheckbox1" value="1" ng-model="$parent.presentDescriptions[$parent.indexInArray[present.id]].friChecked" ng-change="updateValidation(present.id, 4)"/> Thứ 6
                                                        </label>
                                                        <label class="checkbox-inline">
                                                          <input type="checkbox" id="inlineCheckbox1" value="1" ng-model="$parent.presentDescriptions[$parent.indexInArray[present.id]].satChecked" ng-change="updateValidation(present.id, 4)"/> Thứ 7
                                                        </label>
                                                        <label class="checkbox-inline">
                                                          <input type="checkbox" id="inlineCheckbox1" value="1" ng-model="$parent.presentDescriptions[$parent.indexInArray[present.id]].sunChecked" ng-change="updateValidation(present.id, 4)"/> Chủ nhật
                                                        </label>
                                                        <label class="checkbox-inline">
                                                          <input type="checkbox" id="inlineCheckbox1" value="option1" ng-model="$parent.presentDescriptions[$parent.indexInArray[present.id]].allChecked" ng-change="allCheck(present.id)"/> Cả tuần
                                                        </label>

                                                        <span class="alert-msg" ng-show="$parent.presentDescriptions[$parent.indexInArray[present.id]].validation[4]" style="margin-top: 30px">
                                                            <i class="icon-remove-sign"></i>
                                                        Vui lòng chọn một ngày trong tuần
                                                        </span>
                                                    </div>

                                                    <div class="clearfix"></div>
                                                    <!-- <span>
                                                        <div class="dropdown left" >
                                                          <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="#">
                                                            <div class="input-append"><input type="text" class="form-control datetime inline-block" data-ng-model="data[0].dateDisplay" style="width: 100px;">
                                                            </div>
                                                          </a>
                                                          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                            <datetimepicker data-ng-model="data[0].dateDropDownInput" data-datetimepicker-config="{ dropdownSelector: '#dropdown2', minView: 'minute', startView: 'hour' }" data-on-set-time="onTimeSetOne"/>
                                                          </ul>
                                                        </div>

                                                        <div class="dropdown left" style="margin-left:10px;">
                                                          <a class="dropdown-toggle" id="dropdown3" role="button" data-toggle="dropdown" data-target="#" href="#">
                                                            <div class="input-append"><input type="text" class="form-control datetime inline-block" data-ng-model="data[1].dateDisplay" style="width: 100px;">
                                                            </div>
                                                          </a>
                                                          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                            <datetimepicker data-ng-model="data[1].dateDropDownInput" data-datetimepicker-config="{ dropdownSelector: '#dropdown3', minView: 'minute' , startView: 'hour' }" data-on-set-time="onTimeSetTwo"/>
                                                          </ul>
                                                        </div>
                                                    </span>
 -->
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                    <div class="add-bar shadow" style="cursor:pointer" ng-click="addPresent()">
                                        <i class="icon-plus"></i> THÊM PHẦN QUÀ
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="news-box" ng-switch-when="news">
                                    <div class="field-box">
                                        <span class="title">TÊN TIÊU ĐỀ</span>
                                        <input class="form-control inline-block" type="text" ng-model="$parent.title" ng-change="updateValidationNews(0)"/>

                                        <span class="alert-msg" ng-show="$parent.validation[0]" style="margin-top: 30px">
                                                            <i class="icon-remove-sign"></i>
                                                        Vui lòng nhập tiêu đề
                                                        </span>
                                    </div>
                                    <div class="field-box">
                                        <span class="title">HÌNH ẢNH</span>
                                        <input type="file" class="form-control inline-block"/>  
                                    </div>
                                    <div class="field-box">
                                        <span class="title">NỘI DUNG</span>
                                        <textarea placeholder="Nhập nội dung" class="form-control" rows="6" ng-model="$parent.content" ng-change="updateValidationNews(2)"></textarea>
                                         <span class="alert-msg" ng-show="$parent.validation[2]" style="margin-top: 30px">
                                                            <i class="icon-remove-sign"></i>
                                                        Vui lòng nhập nội dung
                                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!--
                            <div class="field-box">
                                <span class="title">Phần thưởng</span>
                                <input placeholder="Điều kiện" class="form-control inline-block small-input" type="text"/><input placeholder="Phần thưởng" class="form-control inline-block small-input" type="text"/>
                            </div>
                            <div class="field-box">
                                <span class="title">LOẠI THẺ</span>
                                <div class="ui-select">
                                    <select>
                                        <option selected>Dropdown</option>
                                        <option>Custom selects</option>
                                        <option>Pure css styles</option>
                                    </select>
                                </div> 
                            </div>
                            <div class="field-box">
                                <span class="title">SỐ LƯỢNG</span>
                                <div class="ui-select">
                                    <select>
                                        <option selected>Dropdown</option>
                                        <option>Custom selects</option>
                                        <option>Pure css styles</option>
                                    </select>
                                </div> 
                            </div>
                            <div class="field-box">
                                <span class="title">THỜI GIAN ÁP DỤNG</span>
                                <div class="ui-select">
                                    <select>
                                        <option selected>Dropdown</option>
                                        <option>Custom selects</option>
                                        <option>Pure css styles</option>
                                    </select>
                                </div> 
                            </div>
                            -->
                        </div>
                    </div>
                </div>
                <div class="col-md-8 with-sidebar">
                        <div class="col-md-11">
                            <div class="promotion-wizard-actions wizard-actions">
                                <button type="button" class="btn-glow primary btn-prev" ng-click="goToStep2()"> 
                                    <i class="icon-chevron-left"></i> Prev
                                </button>
                                <button type="button" class="btn-glow primary btn-next" ng-disabled="!isCanGoNext" ng-click="goToStep4()">
                                    Kích hoạt <i class="icon-chevron-right"></i>
                                </button>
                                <button type="button" class="btn-glow success btn-finish">
                                    Trở lại trang quản lý
                                </button>
                            </div>
                        </div>
                    </div>
            </div>
            
            <!-- display step info -->
        </form>
    </div>
</div>
<!-- scripts -->
<style scoped>@import url('vendor/theme/styles/lib/flexslider.css')</style>