<!-- sidebar -->
<div id="sidebar-nav" ng-controller="BrandCtrl">
    <ul id="dashboard-menu">
        <li class="active open">
            <a href="#/home/{{brand.id}}">
                <i class="icon-home"></i>
                <span>OVERVIEW</span>
            </a>
        </li>
        <li class="active">
            <a href="#/segmentation/{{brandId}}">
                <i class="icon-bar-chart"></i>
                <span>SEGMENTATION</span>
            </a>
        </li>
        <li class="active">
            <a href="#/funnel/step2/{{brandId}}">
                <i class="icon-filter"></i>
                <span>FUNNELS</span>
            </a>
        </li>
    </ul>

    <!--
    <div class="footer_controls project_settings_buttons absolute_bottom"><div class="ftsection ftbutton"><a id="settings_link"><div class="settings"><div id="fttooltip" class="project">Update project settings</div></div></a></div><div class="ftsection ftbutton"><div class="invite" id="invite_link"><div id="fttooltip" class="invite">Invite team members</div></div></div></div>
    -->
</div>
<!-- end sidebar -->

<script type="text/javascript"> 
    $('#wrapper').css("padding", "24px");
    $('#width_wrapper').width("1150px");
</script>

<script src="vendor/theme/scripts/theme.js"></script>
<!-- <script>
    var side_bar_top = $('#sidebar-nav').offset().top;
    $(window).scroll(function (event) {
        var y = $(this).scrollTop();
        if(y > side_bar_top){
            $('#sidebar-nav').css({"position": "fixed", "top": 0});
        }else{
            $('#sidebar-nav').css({"position": "relative", "top": 0});
        }
    });
</script> -->