<!-- sidebar -->
<div id="sidebar-nav">
    <ul id="dashboard-menu">
        <li id="menu-home" ng-class="{active: activeTab == 'home'}">
            <div class="pointer" ng-class="{hide:activeTab != 'home'}">
                <div class="arrow"></div>
                <div class="arrow_border"></div>
            </div>
            <a href="/">
                <i class="icon-home"></i>
                <span>Hoạt động</span>
            </a>
        </li>
        <li id="menu-brand" ng-class="{active: activeTab == 'brand'}">
            <div class="pointer" ng-class="{hide:activeTab != 'brand'}">
                <div class="arrow"></div>
                <div class="arrow_border"></div>
            </div>
            <a class="dropdown-toggle" href="#">
                <i class="icon-certificate"></i>
                <span>Nhãn hiệu</span>
                <i class="icon-chevron-down"></i>
            </a>
            <ul class="submenu">
                <li id="menu-brand-info"><a href="/#/brand/info"><i class="icon-info-sign sub-icon"></i>Thông tin</a></li>
                <li id="menu-brand-promotion"><a href="/#/brand/promotion"><i class="icon-tag sub-icon"></i>Khuyến mãi</a></li>
                <li id="menu-brand-comment"><a href="/#/brand/comment"><i class="icon-comment sub-icon"></i>Bình luận</a></li>
            </ul>
        </li>
        <li id="menu-analytic" ng-class="{active: activeTab == 'analytic'}">
            <div class="pointer" ng-class="{hide:activeTab != 'analytic'}">
                <div class="arrow"></div>
                <div class="arrow_border"></div>
            </div>
            <a class="dropdown-toggle" href="#">
                <i class="icon-signal"></i>
                <span>Thống kê</span>
                <i class="icon-chevron-down"></i>
            </a>
            <ul class="submenu">
                <li><a href="/#/analytic/rate"><i class="icon-filter sub-icon"></i>Đánh giá</a></li>
                <li><a href="/#/analytic/growth"><i class="icon-external-link sub-icon"></i>Tăng trưởng</a></li>
                <li><a href="/#/analytic/chart"><i class="icon-bar-chart sub-icon"></i>Biểu đồ</a></li>
            </ul>
        </li>
        <li id="menu-client" ng-class="{active: activeTab == 'client'}">
            <div class="pointer" ng-class="{hide:activeTab != 'client'}">
                <div class="arrow"></div>
                <div class="arrow_border"></div>
            </div>
            <a class="dropdown-toggle" href="#">
                <i class="icon-group"></i>
                <span>Khách hàng</span>
                <i class="icon-chevron-down"></i>
            </a>
            <ul class="submenu">
                <li><a href="/#/client/list"><i class="icon-reorder sub-icon"></i>Danh sách</a></li>
                <li><a href="/#/client/notice"><i class="icon-bullhorn sub-icon"></i>Thông báo</a></li>
                <li><a href="/#/client/survey"><i class="icon-tasks sub-icon"></i>Khảo sát</a></li>
            </ul>
        </li>
        <li id="menu-shop" ng-class="{active: activeTab == 'shop'}">
            <div class="pointer" ng-class="{hide:activeTab != 'shop'}">
                <div class="arrow"></div>
                <div class="arrow_border"></div>
            </div>
            <a class="dropdown-toggle" href="#">
                <i class="icon-shopping-cart"></i>
                <span>Cửa hàng</span>
                <i class="icon-chevron-down"></i>
            </a>
            <ul class="submenu">
                <li><a href="/#/shop/info"><i class="icon-info-sign sub-icon"></i>Thông tin</a></li>
                <li><a href="/#/shop/product"><i class="icon-gift sub-icon"></i>Sản phẩm</a></li>
                <li><a href="/#/shop/order"><i class="icon-credit-card sub-icon"></i>Đặt hàng</a></li>
            </ul>
        </li>             
    </ul>
</div>
<!-- end sidebar -->
<script src="vendor/theme/scripts/theme.js"></script>