<!-- sidebar -->
<div id="sidebar-nav">
    <ul id="dashboard-menu">
        <!-- personal account -->
        <div style="margin-left:-10px;margin-top:-40px;"><strong>TÀI KHOẢN</strong></div>

        <li id="menu-home" ng-class="{active: activeTab == 'home'}">
            <div class="pointer" ng-class="{hide:activeTab != 'home'}">
                <div class="arrow"></div>
                <div class="arrow_border"></div>
            </div>
            <a href="/">
                <i class="icon-home"></i>
                <span>Home</span>
            </a>
        </li>            
        <li id="menu-inbox" ng-class="{active: activeTab == 'inbox'}">
            <div class="pointer" ng-class="{hide:activeTab != 'inbox'}">
                <div class="arrow"></div>
                <div class="arrow_border"></div>
            </div>
            <a href="/#/inbox">
                <i class="icon-envelope"></i>
                <span>Inbox</span>
            </a>
        </li>

        <!-- customer business -->
        <div style="margin-left:-10px;margin-top:30px;"><strong>DOANH NGHIỆP</strong></div>
        <li id="menu-brand" ng-class="{active: activeTab == 'brand'}">
            <div class="pointer" ng-class="{hide:activeTab != 'brand'}">
                <div class="arrow"></div>
                <div class="arrow_border"></div>
            </div>
            <a class="dropdown-toggle" href="#">
                <i class="icon-tags"></i>
                <span>Nhãn hiệu</span>
                <i class="icon-chevron-down"></i>
            </a>
            <ul class="submenu">
                <li id="menu-brand-list"><a href="/#/brand/overview">Overview</a></li>
                <li id="menu-brand-create"><a href="/#/brand/new">Tạo nhãn hiệu mới</a></li>
                <li id="menu-brand-list"><a href="/#/brand">Danh sách nhãn hiệu</a></li>
            </ul>
        </li>
        <li id="menu-shop" ng-class="{active: activeTab == 'shop'}">
            <div class="pointer" ng-class="{hide:activeTab != 'shop'}">
                <div class="arrow"></div>
                <div class="arrow_border"></div>
            </div>
            <a class="dropdown-toggle" href="#">
                <i class="icon-home"></i>
                <span>Cửa hàng</span>
                <i class="icon-chevron-down"></i>
            </a>
            <ul class="submenu">
                <li id="menu-shop-create"><a href="/#/shop/new">Tạo cửa hàng mới</a></li>
                <li id="menu-shop-list"><a href="javascript:void(0)">Danh sách cửa hàng</a></li>
            </ul>
        </li>

        <li id="menu-promotion" ng-class="{active: activeTab == 'promotion'}">
            <div class="pointer" ng-class="{hide:activeTab != 'promotion'}">
                <div class="arrow"></div>
                <div class="arrow_border"></div>
            </div>
            <a class="dropdown-toggle" href="#">
                <i class="icon-home"></i>
                <span>Ưu đãi</span>
                <i class="icon-chevron-down"></i>
            </a>
            <ul class="submenu">
                <li id="menu-promotion-list"><a href="#promotion">Danh sách ưu đãi</a></li>
                <li id="menu-promotion-create"><a href="/#/promotion/new">Tạo ưu đãi mới</a></li>
                
            </ul>
        </li>

        <li id="menu-customer" ng-class="{active: activeTab == 'customer'}">
            <div class="pointer" ng-class="{hide:activeTab != 'customer'}">
                <div class="arrow"></div>
                <div class="arrow_border"></div>
            </div>
            <a class="dropdown-toggle" href="#">
                <i class="icon-group"></i>
                <span>Khách hàng</span>
                <i class="icon-chevron-down"></i>
            </a>
            <ul class="submenu">
                <li id="menu-customer-personal-info"><a href="/#/shop/new">Thông tin</a></li>
                <li id="menu-customer-transaction-info"><a href="/#">Lịch sử giao dịch</a></li>
                <li id="menu-customer-statistic"><a href="/#">Thống kê</a></li>
            </ul>
        </li>
        <li id="menu-employee" ng-class="{active: activeTab == 'employee'}">
            <div class="pointer" ng-class="{hide:activeTab != 'employee'}">
                <div class="arrow"></div>
                <div class="arrow_border"></div>
            </div>
            <a class="dropdown-toggle" href="#">
                <i class="icon-user-md"></i>
                <span>Nhân viên</span>
                <i class="icon-chevron-down"></i>
            </a>
            <ul class="submenu">
                <li><a href="#user">Danh sách nhân viên</a></li>
                <li><a href="#user/new">Tạo nhân viên mới</a></li>
            </ul>
        </li>

        <!-- SmartGuide services -->
        <div style="margin-left:-10px;margin-top:30px;"><strong>DỊCH VỤ</strong></div>
        <li id="menu-delivery" ng-class="{active: activeTab == 'delivery'}">
            <div class="pointer" ng-class="{hide:activeTab != 'delivery'}">
                <div class="arrow"></div>
                <div class="arrow_border"></div>
            </div>
            <a href="javascript:void(0)">
                <i class="icon-truck"></i>
                <span>Giao hàng</span>
            </a>
        </li>
        <li id="menu-advertisement" ng-class="{active: activeTab == 'advertisement'}">
            <div class="pointer" ng-class="{hide:activeTab != 'advertisement'}">
                <div class="arrow"></div>
                <div class="arrow_border"></div>
            </div>
            <a href="javascript:void(0)">
                <i class="icon-picture"></i>
                <span>Quảng cáo</span>
            </a>
        </li>
        <li id="menu-promotion" ng-class="{active: activeTab == 'promotion'}">
            <div class="pointer" ng-class="{hide:activeTab != 'promotion'}">
                <div class="arrow"></div>
                <div class="arrow_border"></div>
            </div>
            <a href="javascript:void(0)">
                <i class="icon-gift"></i>
                <span>Khuyến mãi</span>
            </a>
        </li>
        <li id="menu-customer-service" ng-class="{active: activeTab == 'customer-service'}">
            <div class="pointer" ng-class="{hide:activeTab != 'customer-service'}">
                <div class="arrow"></div>
                <div class="arrow_border"></div>
            </div>
            <a href="javascript:void(0)">
                <i class="icon-thumbs-up"></i>
                <span>Chăm sóc khách hàng</span>
            </a>
        </li>
    </ul>
</div>
<!-- end sidebar -->
<script src="vendor/theme/scripts/theme.js"></script>