<div ng-include="'partials/_header.html'"></div>
<div ng-include="'partials/_sidebar.html'"></div>
<!-- main container -->
<div class="content">
    <div id="brand_wrap">
        <div class="row">
            <div class="col-md-7 brand_overview block">
                <div id="brand_info" class="shadow">
                    <img src="http://farm9.staticflickr.com/8446/8005177885_6d00a46190_z.jpg" class="cover col-md-12">
                    <div class="info">
                        <img src="img/contact-img.png" alt="contact" class="img-circle logo hidden-phone"/>
                        <h4>Passio - <span>Cafe</span></h4>
                        <h6> 422 Võ Văn Kiệt, Phường Cô Giang, Quận 1, Tp. Hồ Chí Minh</h6>
                        <div class="info_detail">
                            <p>Homefront xoay quanh một cựu nhân viên của Cục Phòng chống Ma túy Hoa Kỳ đưa gia đình mình tới một thành phố yên bình để ổn định lại cuộc sống, nhưng anh sớm phải chạm trán với tên trùm ma túy đá trong vùng...</p>        
                            <p> <span>Website: </span> <a href="http://smartguide.vn"> www.smartguide.vn</a></p>
                            <p> <span>Fanpage: </span> <a href="http://smartguide.vn"> www.facebook.com</a></p>
                            <p> <span>Liên hệ: </span> <a href="http://smartguide.vn"> 0838 38 38 38</a></p>
                        </div>
                        <div class="alert alert-danger" style="width: 500px">
                            <i class="icon-remove-sign"></i>
                            Chưa xác nhận quyền sở hữu nhãn hiệu
                        </div>
                        <input type="file">
                    </div>
                </div> <!-- brand info-->
                    <div id="add_shop">
                        <input class="shop_name form-control" type="text" placeholder="Nhập tên cửa hàng">    
                        <a class="btn-flat success icon-plus">Thêm cửa hàng mới</a>
                    </div>
                    

                    <ul id="shop_list" class="shadow">
                        <li>
                            <img src="img/contact-img.png" alt="contact" class="img-circle avatar hidden-phone left"/>
                            <p>
                                <span class="shop_name right">Cửa hàng 1</span>
                                </br>
                                <span class="shop_addr right">422 Võ Văn Kiệt, Phường Cô Giang, Q.1, Tp. Hồ Chí Minh</span>    
                            </p>
                            <i class="icon-remove-sign"></i>
                        </li>
                        <div class="clearfix"></div>

                        <li class="highlight">
                            <img src="img/contact-img.png" alt="contact" class="img-circle avatar hidden-phone left"/>
                            <p>
                                <span class="shop_name right">Cửa hàng 1</span>
                                </br>
                                <span class="shop_addr right">422 Võ Văn Kiệt, Phường Cô Giang, Q.1, Tp. Hồ Chí Minh</span>    
                            </p>
                            <i class="icon-remove-sign"></i>
                        </li>
                        <div class="clearfix"></div>

                        <li>
                            <img src="img/contact-img.png" alt="contact" class="img-circle avatar hidden-phone left"/>
                            <p>
                                <span class="shop_name right">Cửa hàng 1</span>
                                </br>
                                <span class="shop_addr right">422 Võ Văn Kiệt, Phường Cô Giang, Q.1, Tp. Hồ Chí Minh</span>    
                            </p>
                            <i class="icon-remove-sign"></i>
                        </li>
                        <div class="clearfix"></div>
                    </ul>
            </div>
            <div class="col-md-4 block">

                <ul class="nav nav-tabs">
                  <li ng-class="{active: main.active.tab == 'info'} ">
                    <a ng-click='main.active.tab = "info" ' href=""> Thông tin</a>
                  </li>
                  
                  <li ng-class="{active: main.active.tab == 'product'}">
                    <a ng-click='main.active.tab = "product" ' href=""> Sản phẩm</a>
                  </li>

                    <li ng-class="{active: main.active.tab == 'gallery'}">
                      <a ng-click='main.active.tab = "gallery" ' href=""> Hình ảnh</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div ng-switch = "main.active.tab">
                        <div ng-switch-when='info'>
                            <div ng-include='"modules/brand/brand/tabs/_info.html"'> </div>  
                        </div>

                        <div ng-switch-when='product'>
                            <div ng-include='"modules/brand/brand/tabs/_product.html"'> </div>  
                        </div>

                        <div ng-switch-when='gallery'>
                            <div ng-include='"modules/brand/brand/tabs/_gallery.html"'> </div>  
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>
<!-- scripts -->
<script src="vendor/theme/scripts/jquery-ui-1.10.2.custom.min.js"></script>