<div class="block" ng-controller="FilterCtrl">
    <div class="block_header">
        <div class="left control">
            Thống kê lượt 
            <select ng-model="event" ng-options="event as event.name_display for event in events" ng-init="event=events[0]"></select>
            theo thời gian
        </div>

        <span class="btn-flat success icon-bookmark-empty right">Lưu</span>

    </div>
    <div class="block_content">
        <p class="notify"> Chỉ thống kê các lượt <span>{{event.name_display}}</span> thoả điều kiện</p>
        
        <!--======================================-->
        <div class="sf_wrapper" style="display: block;">
            <div class="labels">
                <div class="grey_vert" style="display: block;"></div>
                <div class="grey_horz" style="display: block;"></div>
                <div class="seg_label" style="visibility: hidden;">x</div>
                <div class="action_group " >
                    <select class="action clearfix row_1">
                        <option>Và</option>
                        <option>Hoặc</option>
                    </select>    

                </div>
                

                <p class="add_condition" ng-click="addCondition()"> <i class="icon-plus-sign"></i> Thêm điều kiện</p> 

            </div>
            <div class="query_builder">
                <div class="query_record row_0">

                    <select class="qr_1" ng-model="property" ng-options="property as property.name_display for property in event.properties" ng-init="property=event.properties[0]"></select>

                    <select class="qr_2" ng-model="meta" ng-options="meta as meta for meta in metas[property.type].operators_display" ng-init="meta=metas[property.type].operators_display[0]"></select>

                    <select class="qr_3">
                        <option>Nam</option>
                        <option>Nữ</option>
                    </select>
                    <span class="icon-remove right remove row_0"></span>
                </div>

                <div class="query_record row_1 ">

                    <select class="qr_1" ng-model="property" ng-options="property as property.name_display for property in event.properties" ng-init="property=event.properties[0]"></select>

                    <select class="qr_2" ng-model="meta" ng-options="meta as meta for meta in metas[property.type].operators_display" ng-init="meta=metas[property.type].operators_display[0]"></select>

                    <select class="qr_3">
                        <option>Nam</option>
                        <option>Nữ</option>
                    </select>
                    <span class="icon-remove right remove" ng-click="removeCondition($event)" data=".row_1"></span>
                </div>
            </div>
        </div>    
    </div> <!-- block content-->
    <div class="block_footer">
        <span class="btn-flat primary right">Xem</span>
    </div><!-- block footer-->
</div> <!--block-->