<div class="block" ng-controller="FilterCtrl">
    <div class="block_header">
        <div class="left control">
            Thống kê lượt 
            <select ng-model="event" ng-options="event as event.name_display for event in events" ng-init="event=events[0]"></select>
            theo thời gian
        </div>

        <span class="btn-flat success icon-bookmark-empty right">Lưu</span>

    </div>
    <div subfilter event="event" events="events" metas="metas" metadata="metadata"></div>

    <div class="block_footer">
        <span class="btn-flat primary right" ng-click="getAllSubFilter()">Xem</span>
    </div><!-- block footer-->