<div class="query_record">
    <select class="qr_1" ng-model="property" ng-options="property as property.name_display for property in event.properties" ng-init="property=event.properties[0]"></select>

    <select class="qr_2" ng-model="meta" ng-options="meta as meta for meta in metas[property.type].operators_display" ng-init="meta=metas[property.type].operators_display[0]"></select>


    <div ng-switch on="metas[property.type].operators_ui_controller[metas[property.type].operators_display.indexOf(meta)]">
    	<div ng-switch-when="number input">
    		number input
    	</div>
    	<div ng-switch-when="two number input">
    		two number input
    	</div>
    	<div ng-switch-when="dropdown">
    		dropdown
    	</div>
    	<div ng-switch-when="text">
    		text input
    	</div>
        <div ng-switch-when="time dropdown">
            time dropdown
        </div>
        <div ng-switch-when="date picker">
            date picker
        </div>
        <div ng-switch-when="two date picker">
            two date picker
        </div>
    </div>
    <span class="icon-remove right remove" ng-click="removeCondition($event)"></span>
    
</div>
