<div class="query_record">

    <select class="qr_1" ng-model="property" ng-options="property as property.name_display for property in event.properties" ng-init="property=event.properties[0]"></select>

    <select class="qr_2" ng-model="meta" ng-options="meta as meta for meta in metas[property.type].operators_display" ng-init="meta=metas[property.type].operators_display[0]"></select>


    <span class="qr_3" ng-switch on="metas[property.type].operators_ui_controller[metas[property.type].operators_display.indexOf(meta)]">
    	<span ng-switch-when="number input">
    		<input type="text" class="form-control qr_3" >
    	</span>
    	<span ng-switch-when="two number input">
    		<input type="text" class="form-control qr_3">
    		-
    		<input type="text" class="form-control qr_3">
    	</span>
    	<span ng-switch-when="dropdown">

    		<select class="qr_3" ng-model="metaValue" ng-options="value as value for value in metadata[property.available_values]"></select>
    	</span>
    	<span ng-switch-when="text">
    		<input type="text" class="form-control qr_3">
    	</span>
        <span ng-switch-when="time dropdown">
            <select class="qr_3" ng-model="metaValue" ng-options="value as value for value in metadata[property.available_values]"></select>
        </span>
        <span ng-switch-when="date picker">
            <input type="text" ui-date-format="yy-mm-dd" ng-model="birthDay" ui-date="dateOptions"/>
        </span>
        <span ng-switch-when="two date picker">
            two date picker
        </span>
    </span>
    <span class="icon-remove right remove" ng-click="removeCondition($event)"></span>
    
</div>
