<div class="block" ng-controller="FilterCtrl">
    <div class="block_header">
        <div class="left control">
            Lọc danh sách khách hàng theo
        </div>
        <div class="right">
            <div class="controller">
                <select ng-model="event" ng-options="event as event.name_display for event in events" ng-init="event=events[0]"></select>
                <span class="btn-glow success"><i class="icon-bookmark-empty"></i> Lưu</span>
            </div>
        </div>
    </div>
    <div subfilter event="event" events="events" metas="metas" metadata="metadata" ng-include="'common/template/usersubfilter.html'"></div>

    <div class="block_footer">
        <div class="left method">
            Phương thức <div class="ui-select">
                            <select>
                                <option selected="">Gửi 1 lần</option>
                                <option>Gửi tự động</option>
                            </select>
                        </div>
        </div>
        <button ng-click="getAllFilter()" type="button" class="btn-glow primary right"><i class="icon-ok"></i> Next</button>
    </div><!-- block footer-->