<div ng-include="'partials/_header.html'"></div>
<div ng-include="'partials/_sidebar.html'"></div>
<!-- main container -->
<div class="content">
    <div id="shop_wrap">
        <div class="row">
            <div class="col-md-7 shop_overview block">
                <div id="shop_info" class="shadow">
                    <a class="btn-glow btn-return" href="/#/brand/infor/{{brandId}}"><i class="icon-share-alt"></i> Trở lại nhãn hiệu</a>
                    
                    <div class="cover_wapper">
                        <div class="blur"></div>
                        <img ng-src="{{shop.cover}}" class="cover col-md-12">
                    </div>
                    <div class="info">
                        <img src="{{shop.brand_logo}}" alt="contact" class="img-circle logo hidden-phone"/>
                        <h4>{{shop.name}}- <span>{{shop.brand_type_business}}</span></h4>
                        <h6> {{shop.full_address}}</h6>
                        <div class="info_detail">
                            <p>{{shop.brand_description}}</p>        
                            <p> <span>Website: </span> <a href="{{shop.brand_website}}"> {{shop.brand_website}}</a></p>
                            <p> <span>Fanpage: </span> <a href="{{shop.brand_fanpage}}">{{shop.brand_fanpage}}</a></p>
                            <p> <span>Liên hệ: </span> <a href="http://smartguide.vn">{{shop.phone}}</a></p>
                            <fieldset class="gllpLatlonPicker" id="custom_id">
                            	<input type="text" class="gllpSearchField">
                            	<input type="button" class="gllpSearchButton" value="search">
                            	<div class="gllpMap">Google Maps</div>
                            	<input type="hidden" class="gllpLatitude" value="60"/>
                            	<input type="hidden" class="gllpLongitude" value="30"/>
                            	<input type="hidden" class="gllpZoom" value="12"/>
                            </fieldset>
                        </div>
                    </div>
                </div> <!-- shop info-->
                <div id="add_shop" style="text-align: center;">
                    <img ng-src="{{qrCode}}" style="height:150px;align-content:center;">
                </div>
                

                <ul id="shop_list">
                    <li ng-repeat="shop in shop.shops">
                        <img src="{{shop.logo}}" alt="contact" class="img-circle avatar hidden-phone left" height="42" width="42"/>
                        <a href="user-profile.html" class="name">{{shop.name}}</a>
                        <span class="subtext">{{shop.full_address}}</span>
                        <i class="icon-remove-sign"></i>
                    </li>
                    <div class="clearfix"></div>
                </ul>
            </div>
            <div class="col-md-4 property-box">

                <ul class="nav nav-tabs">
                  <li ng-class="{active: main.active.tab == 'info'}" class="active">
                    <a ng-click='main.active.tab = "info" ' href=""> Thông tin</a>
                  </li>
                  
                  <!-- <li ng-class="{active: main.active.tab == 'product'}">
                    <a ng-click='main.active.tab = "product";showProducts()' href=""> Sản phẩm</a>
                  </li> -->

                    <!-- <li ng-class="{active: main.active.tab == 'gallery'}">
                      <a ng-click='main.active.tab = "gallery"; showGallery();' href=""> Hình ảnh</a>
                    </li> -->
                    
                    <li ng-class="{active: main.active.tab == 'gallery_user'}">
                      <a ng-click='main.active.tab = "gallery_user";showUsersGallery();' href=""> Hình ảnh KH</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div ng-switch = "main.active.tab">
                        <div ng-switch-default>
                            <div ng-include='"modules/shop/template/tabs/_info.html"'> </div>  
                        </div>

                        <div ng-switch-when='product'>
                            <div ng-include='"modules/shop/template/tabs/_product.html"'> </div>  
                        </div>

                        <!-- <div ng-switch-when='gallery'>
                            <div ng-include='"modules/shop/tabs/_gallery.html"'> </div>  
                        </div> -->
                        
                        <div ng-switch-when='gallery_user'>
                            <div ng-include='"modules/shop/template/tabs/_gallery_user.html"'> </div>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>
<!-- scripts -->
<script src="vendor/theme/scripts/jquery-ui-1.10.2.custom.min.js"></script>
<script src="vendor/jquery-gmaps/js/jquery-gmaps-latlon-picker.js"></script>
