
<div ng-include="'partials/_header.html'"></div>
<div ng-include="'partials/_sidebar.html'"></div>
<!-- main container -->
<div id="user-info-content" class="content">
    <div id="user-info" class="col-md-7">
        <div class="top-block">
            <div class="report-chose">
                Gửi thông báo qua 
                <select>
                    <option>SMS</option>
                    <option>EMAIL</option>
                </select>
            </div>
            <div id="infomation">
                <div class="logo">
                    <img src="{{avatar}}" alt="contact" class="avatar img-circle" height="90px" width="90px"/>
                    
                </div>
                <div class="detail">
                    <h1 class="name">{{username}}</h1>
                    <p><i class="icon-phone-sign"></i>{{userProfile.phone}}</p>
                    <p><i class="icon-map-marker"></i>{{userProfile.address}}</p>
                    <p><i class="icon-time"></i>{{userProfile.last_visit}}</p>
                </div>
            </div>
        </div>
        <div id="activity">
            <div class="header" >
                <span class="time">Thời gian</span>
                <span class="action">Hoạt động</span>
            </div>
            <ul class="time-line" ng-repeat="activity in activities">
                <li>
                    <span class="date">{{activity.time_str}}</span>
                    <ul ng-repeat="event in activity.infor">
                        <li>
                            <span class="time">{{event.hour}}</span>
                            <span class="action">{{event.name}}</span>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div id="user-property" class="col-md-4">
        <ul class="nav nav-tabs">
          <li class="active"><a onclick="javascript:void(0)">Thuộc tính</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="home">
                <ul>
                    <li>
                        <span class="property">Email</span><span class="value">{{userProfile.email}}</span>
                    </li>
                    <li><span class="property">Tên</span><span class="value">{{username}}</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- end main container -->

<style scoped>@import url('vendor/theme/styles/compiled/user-profile.css')</style>
