<div ng-include="'partials/_header.html'"></div>
<div ng-include="'partials/_sidebar.html'"></div>
    <!-- main container -->
    <div class="content">
        <div id="content_wrapper">
            <div class="notice shadow">
                <div class='col-md-12'>
                    <p class="title">Hệ thống bình luận tại mỗi cửa hàng</p>
                    <p class="sub">Ac diam! Enim eu enim egestas, vel ac, ut? Vel sit urna tempor lectus integer. Ac rhoncus nec porttitor. Aliquet. Vut ultrices pid scelerisque! Porttitor augue et sed? </p>
                    <div class="btn-group" >
                         <select ng-model="shop" ng-options="s.name for s in brand.shops"></select>
                    </div>
                    
                    <div class="btn-group right">
                        <select ng-model="sorter" ng-options="s.display for s in oderComments" ng-init="sorter = oderComments[0]"></select>
                    </div>
                </div>
                
                <div class="clearfix"></div>
            </div>
            
            <div class="content gray-background">
                <table class="table table-hover shadow comment white-background" cellspacing="0" cellpadding="0">
                    <thead>
                        <tr>
                            <th class="col-md-9">
                                {{shop.name}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- row -->
                        <tr class="first" ng-repeat="message in shop.comments | orderBy:sorter.field">
                            <td style="text-align: left !important;">
                                <div class="col-md-1">
                                    <img src="{{message.user_avatar}}" alt="contact" class="img-circle avatar hidden-phone" style="height:70px; width:70px;"/>
                                </div>
                                <div class="col-md-9 comment-content">
                                        <span class="user_name"><a ng-click = "showUserProfile(brand.id, message.user_id, message.user_name, message.user_avatar)" style="cursor:pointer">{{message.user_name}}</a></span>   -   <span class="bold">{{message.dateDisplay}}</span>
                                           <span class="boldanditalic">{{message.timeDisplay}}</span>
                                        </br>
                                        <span class="shop_addr">{{message.content}}</span>  
                                </div>
                                <div class="clearfix"></div>
                                <div id="num-of-like">
                                    <span class="left bold">{{message.like_count}}</span>&nbsp;<span>lượt thích</span>
                                    <span class="btn-flat success right" id="reply-button">Trả lời</span>
                                    <span class="btn-flat gray back right">Xoá</span>
                                </div>   
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
        
            
        
    </div>
    <!-- end main container -->
</html>

<style scoped>@import url('vendor/theme/styles/compiled/user-list.css')</style>