<div ng-include="'partials/_header.html'"></div>
<div ng-include="'partials/_sidebar.html'"></div>
<!-- main container -->
<div id="promotion-new" class="content">
    <div id="funnel-fuelux-wizard" class="wizard">
        <ul class="wizard-steps">
            <li data-target="#funnel-step1" class="active">
                <span class="z-step">TẠO CHUỖI MỚI</span><img class="line-step" src="img/line_step.png" />
            </li>
            <li data-target="#funnel-step2">
                <span class="z-step">KẾT QUẢ</span><img class="line-step" src="img/line_step.png" />
            </li>
        </ul>                            
    </div>
    <div id="funnel-step-content" class="step-content form-page">
        <form>
            <div class="step-pane active" id="funnel-step1">
                <div class="step-description">
                    <div class="step-title">
                        Tạo chuỗi hành vi người dùng
                    </div>
                    Tạo hệ thông tin mới từ dịch vụ cũng như chiến dịch khuyến mãi của bạn.
                </div>
                <div class="form-wrapper">
                    <div class="wapper">
                        <div class="step-wapper">
                            <div class="field-box">
                                <span class="title">TÊN CHUỖI HÀNH VI</span>
                                <input type="text" class="form-control" style="width: 50%;" placeholder="Thống kê hành vi sử dụng" ng-model="nameOfChainOfBehaviours"/>
                            </div>
                            <div class="clearfix"></div>
                            
                            <div class="z-box" ng-repeat="behaviour in behaviours" style="margin-top:10px;">
                                <div class="z-box-header">
                                    <div class="left">
                                        <span>Hành vi thứ {{behaviour.id + 1}}</span> 
                                        <div class="ui-select">
                                            <select ng-model="event" ng-options="event as event.name_display for event in behaviour.events" ng-init="event=behaviour.events[0]"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="z-box-content">
                                    <div smg-filter metas="behaviour.metas" events="behaviour.events" metadata="behaviour.metadata" event="event" subfilters="behaviour.subfilters"></div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            
                            <div class="add-bar shadow" ng-click="addBehaviour()" style="cursor:pointer">
                                <i class="icon-plus"></i>
                                THÊM HÀNH VI NGƯỜI DÙNG
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="step-pane" id="funnel-step2">
                <div class="step-description">
                    <div class="step-title">
                        Chuỗi hành vi người dùng
                    </div>
                    Tạo hệ thống tin tức mới từ dịch vụ cũng như những chiến dịch của bạn dễ dàng theo dạng danh sách và thao tác đợn giản
                </div>
                <div class="form-wrapper">
                    <div class="wapper">
                        <div class="step-wapper">
                            <div class="step-wapper-header">
                                <div class="left">
                                    <h4>Tổng quan</h4>
                                </div>
                                <div class="right">
                                    <div class="controller">
                                        <select ng-model="event" ng-options="event as event.name_display for event in events" ng-init="event=events[0]" class="ng-pristine ng-valid"><option value="0" selected="selected">view</option><option value="1">checkin</option><option value="2">checkout</option><option value="3">comment</option></select>
                                        <span class="btn-glow success"><i class="icon-bookmark-empty"></i> Lưu</span>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            
                            <div class="z-box">
                                <div class="z-box-header">
                                    <div class="left">
                                        <span>
                                            <div class="dropdown left" >
                                              <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="#">
                                                <div class="input-append"><input type="text" class="form-control datetime inline-block" data-ng-model="data[0].dateDisplay" style="width: 100px;">
                                                </div>
                                              </a>
                                              <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                <datetimepicker data-ng-model="data[0].dateDropDownInput" data-datetimepicker-config="{ dropdownSelector: '#dropdown2', minView: 'day' }" data-on-set-time="onTimeSetOne"/>
                                              </ul>
                                            </div>

                                            <div class="dropdown left" style="margin-left:10px;">
                                              <a class="dropdown-toggle" id="dropdown3" role="button" data-toggle="dropdown" data-target="#" href="#">
                                                <div class="input-append"><input type="text" class="form-control datetime inline-block" data-ng-model="data[1].dateDisplay" style="width: 100px;">
                                                </div>
                                              </a>
                                              <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                <datetimepicker data-ng-model="data[1].dateDropDownInput" data-datetimepicker-config="{ dropdownSelector: '#dropdown3', minView: 'day' }" data-on-set-time="onTimeSetTwo"/>
                                              </ul>
                                            </div>
                                        </span>
                                    </div>
                                    <div class="right">
                                        <span>Thống kê theo <div class="ui-select">
                                                                     <select ng-model="computeBy" ng-options="computeBy as computeBy.name_display for computeBy in computeBys" ng-init="computeBy=computeBys[0]" ng-change="updateComputeBy()"></select>
                                                                </div>
                                        </span>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="z-box-content" style="position: relative;">
                                    <div class="bar">Status bar</div>
                                        <chart value='columnChart'>
                                        </chart>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            
                            <div class="wapper">
                                <div class="block" style="margin: 0 -10px;">
                                    <div class="block_header">
                                        <div class="left control">
                                            So sánh theo <div class="ui-select">
                                                           <select class="type_menu left" ng-model="compareUnit" ng-options="compareUnit as compareUnit.name_display for compareUnit in event.compare_properties" ng-init="compareUnit=event.compare_properties[0]" style="margin-left: 10px;margin-top: 10px;" ng-change="updateCompareUnit()"></select>
                                                        </div>
                                        </div>
                                    </div>
                                    <div class="block_content no-padding">
                                        <table class="z-table">
                                            <thead>
                                                <tr>
                                                    <th>Giới tình</th>
                                                    <th>Số lượng bước trước</th>
                                                    <th>Thời gian trung bình<br/>giữa 2 bước</th>
                                                    <th>Số lượng bước sau</th>
                                                    <th>Tỷ lệ giữa 2 bước</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="row in data">
                                                    <td>row.nam</td>
                                                    <td>1371</td>
                                                    <td>1 ngày</td>
                                                    <td>601</td>
                                                    <td class="name">43.83%</td>
                                                </tr>
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- modal -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- display step info -->
        </form>
    </div>
    <div class="col-md-12 with-sidebar">
        <div class="funnel-wizard-actions wizard-actions">
            <button type="button" class="btn-glow primary success btn-save">
                <i class="icon-bookmark-empty"></i>Lưu
            </button>
            <button type="button" class="btn-glow primary btn-next" data-last="Finish" ng-click="funnel()">
                Theo dõi hành vi người dùng
            </button>
        </div>
    </div>
</div>
<!-- scripts -->
<style scoped>@import url('vendor/theme/styles/lib/flexslider.css')</style>
<script src="vendor/theme/scripts/jquery-ui-1.10.2.custom.min.js"></script>
<script src="vendor/theme/scripts/fuelux.wizard.js"></script>
<script src="vendor/theme/scripts/jquery.flexslider.js"></script>
<script>
//winzard create promotion
$(function () {
    var $wizard = $('#funnel-fuelux-wizard'),
        $btnNext = $('.funnel-wizard-actions .btn-next'),
        $btnSave = $(".funnel-wizard-actions .btn-save");

    $wizard.wizard().on('finished', function(e) {
        // wizard complete code
    }).on("changed", function(e) {
        var step = $wizard.wizard("selectedItem");
        // reset states
        $btnNext.show();

        if (step.step === 1) {
            //$btnPrev.attr("disabled", "disabled");
        } else if (step.step === 2) {
            $btnNext.hide();
            $btnSave.hide();
        }
    });

    //$btnPrev.on('click', function() {
    //        $wizard.wizard('previous');
    //    });
    $btnNext.on('click', function() {
        $wizard.wizard('next');
    });
});
/** slide image **/
$(window).load(function() {
  $('.flexslider').flexslider({
    animation: "slide",
    controlNav: false,
  });
});
</script>