<ul ng-controller="BrandCtrl">
    <li>
        <span class="property">Ảnh nền</span>
        <div class="value">
            <img src="{{brandCover}}" width="45" height="45" />
            <input id="coverEdit" type="file" onchange="angular.element(this).scope().changeCover()" />
        </div>
    </li>
    <li>
        <span class="property">Tên nhãn hiệu</span>
        <div class="value">
            <div class="overview" ng-hide="editName">
                <span>{{brandName}}</span>
                <a style="cursor:pointer" ng-click="editName = !editName;">sửa</a>
            </div>
            <div class="edit" ng-hide="!editName">
                <input ng-model="brandName"/>
                <i ng-click="changeName()" class="icon-ok-sign success" style="cursor:pointer" ></i>
            </div>
        </div>
    </li>
</ul>