
<div ng-include="'partials/_header.html'"></div>
<div ng-include="'partials/_sidebar.html'"></div>
<!-- main container -->
<div id="user-info-content" class="content">
    <div id="user-info" class="col-md-7">
        <div class="top-block">
            <!-- <div class="report-by">
                Gửi thông báo qua 
                <select>
                    <option>SMS</option>
                    <option>EMAIL</option>
                </select>
            </div> -->
            <div id="infomation">
                <a class="btn-glow btn-return" ng-click="goBack()"><i class="icon-share-alt"></i> Trở lại</a>

                <div class="logo">
                    <img ng-src="{{avatar}}" alt="contact" class="avatar img-circle" height="90px" width="90px"/>
                    
                </div>
                <div class="detail">
                    <h1 class="name">{{username}}</h1>
                    <p><i class="icon-phone-sign"></i>{{userProfile.phone}}</p>
                    <p><i class="icon-map-marker"></i>{{userProfile.address}}</p>
                    <p><i class="icon-time"></i>{{userProfile.last_visit}}</p>
                </div>
            </div>
        </div>
        <div id="activity">
            <div class="header" >
                <span class="time">Thời gian</span>
                <span class="action">Hoạt động</span>
            </div>
            <ul class="time-line" ng-repeat="activity in activities">
                <li>
                    <span class="date">{{activity.time_str}}</span>
                    <ul ng-repeat="event in activity.infor">
                        <li>
                            <span class="time">{{event.hour}}</span>
                            <span class="action">{{event.name}}</span>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-4 property-box">
        <ul class="nav nav-tabs">
          <li class="active"><a onclick="javascript:void(0)">Thông tin</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active">
                <ul>
                    <li><div class="property col-md-4">Tên</div><div class="value col-md-8">{{username}}</div></li>
                    <li><div class="property col-md-4">Tuổi</div><div class="value col-md-8">{{userProfile.age}}</div></li>
                    <li><div class="property col-md-4">Giới tính</div><div class="value col-md-8">{{userProfile.gender}}</div></li>
                    <li><div class="property col-md-4">Thành phố</div><div class="value col-md-8">{{userProfile.city}}</div></li>
                    <li><div class="property col-md-4">Di động</div><div class="value col-md-8">{{userProfile.phone}}</div></li>
                    <li><div class="property col-md-4">Facebook</div><div class="value col-md-8"><a href="{{userProfile.facebook}}">{{userProfile.facebook}}</a></div></li>
                    <li><div class="property col-md-4">Email</div><div class="value col-md-8">{{userProfile.email}}</div><li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- end main container -->

<style scoped>@import url('vendor/theme/styles/compiled/user-profile.css')</style>
