<div ng-include="'partials/_header.html'"></div>
<div ng-include="'partials/_sidebar.html'"></div>
	<!-- main container -->
    <div class="content">
        <div id="content_wrapper">
            <div class="notice shadow">
                <div class='col-md-12'>
                    <p class="title">Quản lý khách hàng</p>
                    <p class="sub">Quản lý thông tin khách hàng</p>
                </div>
                
                <div class="clearfix"></div>
            </div>
            
            <div class="block">
                <div class="block_header">
                    <!-- <div class="left control">
                        Thống kê lượt 
                        <select ng-model="event" ng-options="event as event.name_display for event in events" ng-init="event=events[0]"></select>
                        theo thời gian
                    </div> -->

                    <span class="btn-flat success icon-bookmark-empty right" ng-click="bookmark()">Lưu</span>
                </div>
                <div class="block_content">
                    <p class="notify">Danh sách khách hàng thoả điều kiện</p>
                    <div smg-filter metas="metas" events="events" metadata="metadata" event="event" subfilters="subfilters" oldsubfilters="oldsubfilters"></div>
                </div>
                <div class="block_footer">
                    <span class="btn-flat primary right" ng-click="getResult()">Xem</span>
                </div>
            </div>
            
            <div class="block">
                <div class="block_header">
                    <div class="report-by">
                        <!-- Gửi thông báo bằng 
                        <div class="ui-select">
                            <select>
                                <option>Tin nhắn SMS</option>
                            </select>
                        </div>
                        cho -->
                        <input type="text" class="search right" placeholder="Tìm kiếm..." ng-model="searchText"/>
                    </div>
                </div>
                <div ng-hide="hideLoading" class="loading-container-image-product">
                    <div title="Code: 0xe800" class="the-icons span3"><i class="icon-fontello-spin6 animate-spin loading-product-image loading-icon"></i></div>
                </div>
                <div class="block_content no-padding" ng-hide="!hideLoading">
                    <table class="z-table">
                        <thead>
                            <tr>
                                <th><input type="checkbox" ng-model="checkAll" ng-change="checkAllUser(); saveInfor();"/></th>
                                <th class = "name">
                                    Số điện thoại
                                </th>
                                <th class="name">Tên</th>
                                <th>Tuổi</th>
                                <th>Giới tính</th>
                                <th>Vị trí</th>
                                <th>Lần sử dụng cuối</th>
                            </tr>
                        </thead>
                        <tbody >
                            <tr ng-repeat="user in dataInCurrentPage | filter:searchText">
                                <td><input type="checkbox" ng-model="$parent.checkList[user.stt]" ng-change="saveInfor()"/></td>
                                <td style="cursor:pointer" ng-click="showUserProfile(user.id)">{{user.phone}}</td>
                                <td class="name"  style="cursor:pointer" ng-click="showUserProfile(user.id)">{{user.name}}</td>
                                <td style="cursor:pointer" ng-click="showUserProfile(user.id)">{{user.dob}}</td>
                                <td style="cursor:pointer" ng-click="showUserProfile(user.id)">{{user.gender}}</td>
                                <td style="cursor:pointer" ng-click="showUserProfile(user.id)">{{user.city}}</td>
                                <td style="cursor:pointer" ng-click="showUserProfile(user.id)">{{user.last_visit}}</td>
                                
                            </tr>
                        </tbody>
                    </table>

                    <!--chart here-->
                    
                    <spagination class="right" total-items="totalItems" page="currentPage" on-select-page="pageChanged(page)" boundary-links="true" first-text="Đầu tiên" last-text="Cuối cùng" next-text="Sau" previous-text="Trước"></spagination>
                </div>
            </div>
        </div> <!-- content_wrapper-->
        
            
        
    </div>
    <!-- end main container -->
</html>