<div class="login-wrapper">
    <a href="index.html">
        <img class="logo" src="img/logo-white.png" alt="logo" />
    </a>

    <div class="box">
        <div class="content-wrap">
            <h6>Đăng nhập</h6>
            <input class="form-control" type="text" placeholder="Địa chỉ email" ng-model="username" required>
            <input class="form-control" type="password" placeholder="Mật khẩu" ng-model="password" required>
            <a href="#" class="forgot">Quên mật khẩu?</a>
            <div class="remember">
                <input id="remember-me" type="checkbox" ng-model="rememberme">
                <label for="remember-me">Ghi nhớ</label>
            </div>
            <a class="btn-glow primary login" href="index.html" ng-click="login()">Đăng nhập</a>
        </div>
    </div>

    <div class="no-account">
        <p>Bạn chưa có tài khoản?</p>
        <a href="#signup">Đăng ký ngay</a>
    </div>
</div>

<style scoped>@import url('vendor/theme/styles/compiled/signin.css')</style>    